@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
.main {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background: #00000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .image-container {
  padding: 10px;
}

.main .image-container .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .image-container .image img {
  width: 350px;
  align-items: center;
}


.main .image-container h1 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.main .image-container p {
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.main .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 50px;
  border-radius: 20px;
  background: rgb(88, 88, 88);
  animation: btn 2s;
}
.main .input:hover{
    animation-name: colour;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.main .input .talk {
  background: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
.main .input .talk i {
  font-size: 20px;
  color: #ffffff;
}

.main .input .content {
  color: #ffffff;
  font-size: 15px;
  margin-right: 20px;
}
@keyframes colour{
    from{background:rgb(1, 128,118);}
    to{background:rgb(1, 128, 1);box-shadow: 0 0px 30px 0px rgba(255, 255, 255, 0.721), 0 0px 60px 0 rgba(255, 255, 255, 0.712);}
}
@keyframes btn{
  from{background:rgb(1, 128, 1);box-shadow: 0 0px 30px 0px rgba(255, 255, 255, 0.721), 0 0px 60px 0 rgba(255, 255, 255, 0.719);}
  to{background:rgb(1, 128,118); }
}
